<div class="top-banner">
  <div class="container">
    <h2>Search for a restaurant</h2>
  </div>
</div>
<!-- End Hero -->
<main id="main">
  <!-- tabs section -->
  <section>
    <div class="container">
      <form class="form-inline p-2" [formGroup]="searchForm" (ngSubmit)="searchRestaurant()">

        <div class="control-section">
          <div class="col-lg-8  content-wrapper">
              <div id='content' style="margin: 0 auto; width:250px; padding-top: 30px">
                  <ejs-autocomplete id='sample-list' #sample [dataSource]='restaurantData' [highlight]='true' [fields]='fields' placeholder='e.g. Restaurant name' formControlName="search"  (keyup)="sendit($event)"></ejs-autocomplete>
              </div>
          </div>
         
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-primary mb-2" value="Search">
          </div>
        </div>
      </form>
    </div>
  </section>
</main>


<section id="neighbourhood-res" class="neighbourhood-res">
  <div class="container">
    <p class="in-total">In Total: {{ restaurants?.length || '0' }}</p>
    <!-- <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions" id="restaurant_1"
  [dtTrigger]="dtTrigger"> -->

    <div class="col-lg-12 col-md-12 d-flex align-items-stretch" *ngFor="let restaurant of restaurants | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }">
      <div class="restaurant-info">
        <div class="image-wrapper"><span class="fav-icon" (click)="getRestaurants(content, restaurant.place_id)"><i
              class="icofont-heart-alt"></i></span>
          <img
            src="{{restaurant.photo ? IMAGE_BASE_URL+'Containers/grumpeat/download/'+restaurant.photo : '../../../assets/img/no-photo.png'}}"
            class="img-fluid" alt="">
        </div>
        <div class="restaurant-content">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4>{{restaurant.name}}</h4>
            <p class="price">
              <span>{{restaurant.price.tier==1 ? '$' : (restaurant.price.tier==2 ? '$$': restaurant.price.tier==3 ? '$$$': (restaurant.price.tier==4 ? '$$$$' : '-'))}}</span>
              2 Miles Away</p>
          </div>
          <div class="icon"><span>{{ restaurant.rating || '0' }} </span>
            <div class="stars-outer">
            <div class="stars-inner" [ngStyle]="{'width': restaurant.starPercentageRounded}"></div>
             </div>
            <span>({{restaurant.reviewcount}})</span>
         </div> 
          <p>{{restaurant.formatted_address}}</p>
          <div class="trainer d-flex justify-content-between align-items-center">
            <div class="trainer-profile d-flex align-items-center">
              <!-- <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt=""> -->
              <div class="social">
                <a class="fb" href="facebook.com"><i class="icofont-facebook"></i></a>
                <a class="in" href="linkedin.com"><i class="icofont-linkedin"></i></a>
              </div>
            </div>
            <div class="trainer-rank d-flex align-items-center">
              <a class="to-go" target="_blank" [routerLink]="['/favorite-restaurants/',restaurant.place_id]"><i
                  class="icofont-long-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <pagination-controls class="my-pagination" (pageChange)="p = $event" *ngIf="restaurants.length>0"></pagination-controls>
    
  <!-- </table> -->
  </div>
</section>

<ng-template #content let-modal>
  <div class="modal-header">
    <img
      src="{{restaurant_photo ? IMAGE_BASE_URL+'Containers/grumpeat/download/'+restaurant_photo : '../../../assets/img/no-photo.png'}}"
      class="img-fluid" alt="">
    <h4 class="modal-title" id="modal-basic-title">{{restaurant_name}}<br>{{restaurant_addr}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
  <h4 class="modal-title" id="modal-basic-title">Restaurant Qualities:</h4>
  <div class="modal-body">
    <form class="form-inline text-center p-4" [formGroup]="form" (ngSubmit)="addInFavoritesList(restaurantId)">
      <div>
        
        <div class="form-group" *ngFor="let quality of qualities_array">
          <label for="uname">{{quality.name}}:</label>
          <input type="checkbox" [value]="quality.id" (click)="favRest(quality.id)" class="form-control" id="{{quality.id}}" name="{{quality.id}}">
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
        </div>
      </div>

    </form>
  </div>

</ng-template>