 <!-- joinus modal --> 
 <div class="login-popup" id="joinus-modal"> <!-- css issue  [modal login-popup]-->
  <div class="modal-dialog">
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">&times;</button>
        </div>
        <div class="modal-body">
           <form class="text-center p-4" [formGroup]="loginForm" (ngSubmit)="login()" >
              <h2 class="h4 mb-4">Welcome to <span>Grumpeat!</span></h2>
              <img class="img-logo" src="assets/img/image-logo.png" alt="image-logo">
              <div class="form-group">
               <input type="email" name="email" id="email" tabindex="1" class="form-control"  placeholder="Email Address" formControlName="email">
               <div *ngIf="submitted && f.email.errors" class="text-danger">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.pattern"> Enter a valid email address</div>
              </div>
            </div>
            <div class="form-group">
               <input type="password" name="password" id="password" tabindex="2" class="form-control" autocomplete="off" placeholder="Password" formControlName="password">
               <div *ngIf="submitted && f.password.errors" class="text-danger">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 4
                  characters</div>
              </div>
            </div>
              <div class="d-flex justify-content-around">
                 <div>
                    <div class="custom-control custom-checkbox">
                       <input type="checkbox" class="custom-control-input remember" checked  (change)="onCheckChange($event)">
                       <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                    </div>
                 </div>
                 <div>
                    <a class="forgot-modal changepass" data-toggle="modal" data-target="#forgot-modal" (click)="openForGot()">Forgot password?</a>
                 </div>
              </div>
              <!-- Sign in button -->
              <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
              <p class="text-center p-1">OR</p>
              <a (click)="socialSignIn('facebook')" class="facebook social-login" role="button"><img class="fb-icon" src="assets/img/facebook-icon.png" alt="facebook-icon"> Continue with Facebook</a>
              <a (click)="socialSignIn('google')" class="google social-login" role="button"> <img class="google-icon" src="assets/img/google-icon.png" alt="google-icon">Continue with Google</a>
              <p>Don't have an account? 
                <b>
                  <a class="signup-click changepass" (click)="openSignUp()">Sing Up.</a>
                </b>
              </p>
           </form>
        </div>
     </div>
  </div>
</div>
