<div class="login-popup" id="forgot-modal"> <!-- issue with class [modal login-popup]-->
  <div class="modal-dialog">
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">&times;</button>
        </div>
        <div class="modal-body">
           <form class="text-center p-4" action="#!">
              <h2 class="h4 mb-4">Confirm <span>!</span></h2>
              <img class="img-logo" src="assets/img/image-logo.png" alt="image-logo">
              <div class="form-group">
                 <label for="exampleInputEmail1">Are you sure, You want to delete this restaurants form favourite?</label>
                 
              </div>
           </form>
        </div>
        <div class="modal-footer">
          <input [(ngModel)]="deleteId" type="hidden">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')" >Cancel</button>
          <button type="button" class="btn btn-primary" (click)=deleteFav(deleteId)>Yes Delete</button>
        </div>
     </div>
  </div>
</div>