 <!-- ======= Footer ======= -->
 <footer id="footer">
  <div class="footer-top">
     <div class="container">
        <div class="row">
           <div class="col-lg-4 col-md-6 footer-contact">
              <h3><a routerLink="/home"><img src="assets/img/footer-logo.png" alt="" class="img-fluid"></a></h3>
              <p>
                 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when ..
              </p>
           </div>
           <div class="col-lg-2 col-md-6 footer-links">
              <h4>Our Links</h4>
              <ul>
                 <li><a routerLink="">Home</a></li>
                 <li><a routerLink="/favorite-restaurants">Favorite Restaurants</a></li>
                 <li><a routerLink="/terms">Terms of service</a></li>
                 <li><a routerLink="/privacy-policy">Privacy policy</a></li>
              </ul>
           </div>
           <div class="col-lg-3 col-md-6 footer-newsletter">
              <h4>Instagram Feeds</h4>
              <div id="instafeed">
                 <img src="assets/img/insta-feeds.jpg">
              </div>
           </div>
           <div class="col-lg-3 col-md-6 follow-us">
              <h4>FOLLOW US</h4>
              <div class="social">
                 <a href=""><i class="icofont-twitter"></i></a>
                 <a href=""><i class="icofont-facebook"></i></a>
                 <a href=""><i class="icofont-instagram"></i></a>
                 <a href=""><i class="icofont-linkedin"></i></a>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="container d-md-flex py-4">
     <div class="footer-col-rt col-md-6">
        <div class="copyright">
           &copy; Copyright <strong><span>Grumpeat</span></strong>. All Rights Reserved
        </div>
     </div>
     <div class="footer-col-lf col-md-6 text-right footer-links">
        <ul>
           <li *ngIf="account"><a routerLink="/user-directory"> User Directory</a></li>
           <li *ngIf="show" ><a (click)="openLogin()" class ="pointer"> User Directory</a></li>
        </ul>
     </div>
  </div>
</footer>
<!-- End Footer -->
<!-- End Footer -->
      <!-- modals -->
      <!-- joinus modal -->
      <div class="modal login-popup" id="joinus-modal">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
               </div>
               <div class="modal-body">
                  <form class="text-center p-4" action="#!">
                     <h2 class="h4 mb-4">Welcome to <span>Grumpeat!</span></h2>
                     <img class="img-logo" src="assets/img/image-logo.png" alt="image-logo">
                     <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
                     <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
                     <div class="d-flex justify-content-around">
                        <div>
                           <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                              <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                           </div>
                        </div>
                        <div>
                           <a class="forgot-modal" data-toggle="modal" data-target="#forgot-modal"  href="#">Forgot password?</a>
                        </div>
                     </div>
                     <!-- Sign in button -->
                     <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
                     <p class="text-center p-1">OR</p>
                     <a href="#" class="facebook social-login" role="button"><img class="fb-icon" src="assets/img/facebook-icon.png" alt="facebook-icon"> Continue with Facebook</a>
                     <a href="#" class="google social-login" role="button"> <img class="google-icon" src="assets/img/google-icon.png" alt="google-icon">Continue with Google</a>
                     <p>Don't have an account? <b><a class="signup-click" data-toggle="modal" data-target="#signup-click" href="#">Sing Up.</a></b></p>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- joinus modal closed here -->
      <!-- joinus modal -->
      <!-- The Modal -->
      <div class="modal login-popup" id="signup-click">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
               </div>
               <div class="modal-body">
                  <form class="text-center p-4" action="#!">
                     <h2 class="h4 mb-4">Signup <span>Grumpeat!</span></h2>
                     <img class="img-logo" src="assets/img/image-logo.png" alt="image-logo">
                     <div class="form-group">
                        <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                     </div>
                     <div class="form-group">
                        <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
                     </div>
                     <div class="form-group">
                        <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                     </div>
                     <div class="form-group">
                        <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
                     </div>
                     <div class="form-group">
                        <div class="row">
                           <div class="col-sm-12">
                              <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- joinus modal closed here -->
      <!-- forgot password -->
      <div class="modal login-popup" id="forgot-modal">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
               </div>
               <div class="modal-body">
                  <form class="text-center p-4" action="#!">
                     <h2 class="h4 mb-4">Forgot <span>Password!</span></h2>
                     <img class="img-logo" src="assets/img/image-logo.png" alt="image-logo">
                     <div class="form-group">
                        <label for="exampleInputEmail1">Enter your email address and we will send you a link to reset your password.</label>
                        <input type="email" class="form-control form-control-sm" placeholder="Enter your email address">
                     </div>
                     <button type="submit" class="btn btn-primary btn-block">Send password reset email</button>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- joinus forgot closed here -->
      <!-- Vendor JS Files -->
      <script src="assets/vendor/jquery/jquery.min.js"></script>
      <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
      <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
      <!-- Template Main JS File -->
      <script src="assets/js/main.js"></script>
      <script type="">
         $(".signup-click").click(function() {
         $("#joinus-modal").modal("hide")
         });
         
         // $("#signin").click(function() {
         // $("#joinus-modal").fadeOut("fast", function() {
         // $("#joinus-modal").fadeIn("fast");
         // });
         // });
         
         $(".forgot-modal").click(function() {
         $("#joinus-modal").modal("hide") 
         });
         
      </script>