<div class="top-banner">
  <div class="container">
     <h2>About Us</h2>
  </div>
</div>
<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
     <div class="container" data-aos="fade-up">
        <div class="section-title">
           <h2>About</h2>
           <p>About Us</p>
        </div>
        <div class="row">
           <div class="col-lg-6 order-1 order-lg-2 text-right">
              <img src="assets/img/about-us-image.png" class="img-fluid" alt="">
           </div>
           <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
              <p class="font-italic">
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                 magna aliqua.
              </p>
              <ul>
                 <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                 <li><i class="icofont-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                 <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
              </ul>
              <p>
                 Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              </p>
              <a routerLink="/about-us" class="learn-more-btn">Learn More</a>
           </div>
        </div>
     </div>
  </section>
  <!-- End About Section -->
  <section id="about-content" class="about-content section-bg">
     <div class="container">
        <div class="row">
           <div class="col-lg-6 col-6 text-center">
              <img src="assets/img/about-img-1.jpg" alt="" class="img-fluid">
           </div>
           <div class="col-lg-6 col-6 text-center">
              <img src="assets/img/about-img-2.jpg" alt="" class="img-fluid">
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 col-12 text-center">
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
              <p> Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
           </div>
        </div>
     </div>
  </section>
</main>
<!-- End #main -->