<div class="login-popup" id="forgot-modal"> <!-- issue with class [modal login-popup]-->
  <div class="modal-dialog">
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">&times;</button>
        </div>
        <div class="modal-body">
         
            <form class="text-center p-4" role="form" [formGroup]="forgotPassword" (ngSubmit)="sendLink()">
              <h2 class="h4 mb-4">Forgot <span>Password!</span></h2>
              <img class="img-logo" src="assets/img/image-logo.png" alt="image-logo">
              <div class="form-group">
                 <label for="exampleInputEmail1">Enter your email address and we will send you a link to reset your password.</label>
                 <input type="email" name="email" id="email" class="form-control form-control-sm" placeholder="Enter your email address"  formControlName="email">
                 <div *ngIf="submitted && f.email.errors" class="text-danger">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.pattern"> Enter a valid email address</div>
                </div>
                 
              </div>
              <button type="submit" class="btn btn-primary btn-block">Send password reset email</button>
           </form>
        </div>
     </div>
  </div>
</div>