<div class="top-banner">
  <div class="container">
     <h2>Contact Us</h2>
  </div>
</div>
<main id="main">
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
     <div data-aos="fade-up">
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.8015515578877!2d114.1454833149466!3d22.285505949063367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3403f85ab4f61091%3A0xd7b22b40b1f9d014!2s208%20Duecento%20Otto!5e0!3m2!1sen!2sin!4v1592031240642!5m2!1sen!2sin" frameborder="0" allowfullscreen></iframe>
     </div>
     <div class="container" data-aos="fade-up">
        <div class="row mt-5">
           <div class="col-lg-12 mt-5 mt-lg-0">
              <form  class="php-email-form" [formGroup]="contactForm" (ngSubmit)="contact()">
                 <div class="form-row">
                    <div class="col-md-4 form-group">
                       <input type="text" name="name" id="name" tabindex="1" class="form-control" placeholder="Name" formControlName="name">
                       <div class="text-danger" *ngIf="submitted && f.name.errors">
                           <div *ngIf="f.name.errors.required">Name is required</div>
                       </div>
                    </div>
                    <div class="col-md-4 form-group">
                     <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" formControlName="email">
                       <div class="text-danger" *ngIf="submitted && f.email.errors" >
                           <div *ngIf="f.email.errors.required">Email is required</div>
                           <div *ngIf="f.email.errors.pattern"> Enter a valid email address</div>
                       </div>
                    </div>
                    <div class="col-md-4 form-group">
                       <input type="number" name="phone" id="phone" tabindex="1" class="form-control" placeholder="Phone Number" formControlName="phone">
                       <div class="text-danger" *ngIf="submitted && f.phone.errors">
                           <div *ngIf="f.phone.errors.required">Phone no is required</div>
                       </div>
                    </div>
                 </div>
                 <div class="form-group">
                    <input type="text" name="subject" id="subject" tabindex="1" class="form-control"  placeholder="subject" formControlName="subject">
                    <div class="text-danger" *ngIf="submitted && f.subject.errors">
                     <div *ngIf="f.subject.errors.required">Please enter at least 8 character of subject</div>
                    </div>
                 </div>
                 <div class="form-group">
                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message" formControlName="message" ></textarea>
                    <div class="text-danger" *ngIf="submitted && f.message.errors">
                     <div *ngIf="f.message.errors.required">Message is required</div>
                    </div>
                 </div>
                 <div class="mb-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                 </div>
                 <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
           </div>
        </div>
     </div>
  </section>
  <!-- End Contact Section -->
</main>
<!-- End #main -->