<div class="top-banner">
  <div class="container">
    <h2>Terms of service</h2>
    
  </div>
</div>
<main id="main">
<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
     <div class="section-title">
        <h2>Terms of service</h2>
        <!-- <p>Et harum quidem rerum</p> -->
     </div>
     <div class="row">
        <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <iframe src="https://docs.google.com/viewer?url=http://3.0.175.106/api/Containers/grumpeat/download/1538555574808_grumpeat_Terms%20of%20Use%20Grumpeat.pdf&embedded=true" style="height:800px;width:100%;border:none;overflow:hidden;"></iframe>
        </div>
     </div>
  </div>
</section>
<!-- End About Section -->
</main>
<!-- End #main -->