  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
       <h1 class="logo mr-auto"><a routerLink="/"><img src="assets/img/logo.png" alt="" class="img-fluid"></a></h1>
       <nav class="nav-menu d-none d-lg-block">
          <ul>
             <li routerLinkActive="active" ><a routerLink="/home" >Home</a></li>
             <li routerLinkActive="active" ><a routerLink="/about-us" >About Us</a></li>
             <li routerLinkActive="active" *ngIf="show" ><a (click)="openLogin()">Favorite Restaurants</a></li>
             <li routerLinkActive="active" *ngIf="account" ><a routerLink="/favorite-restaurants">Favorite Restaurants</a></li>
             <li routerLinkActive="active" ><a routerLink="/contact" >Contact Us</a></li>
          </ul>
       </nav>
       <!-- .nav-menu -->
        <button class="get-started-btn" (click)="openLogin()" *ngIf="show">Join us</button>
        <!-- .nav-menu -->
        <div ngbDropdown class="dropdown account-button" *ngIf="account">
         <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
         <i class="icofont-user-alt-4"></i>&nbsp;<span class="ucfirst">{{!loginUser.user.firstname ? loginUser.user.firstName : loginUser.user.firstname}} {{!loginUser.user.lastname ? loginUser.user.lastName : loginUser.user.lastname}}</span>
         </button>
         <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
            <a ngbDropdownItem class="dropdown-item" routerLink="/my-account"> My Account</a>
            <a ngbDropdownItem class="dropdown-item" routerLink="/change-password">Change password</a>
            <a ngbDropdownItem class="dropdown-item" routerLink="/promotion">Promotion</a>
            <a ngbDropdownItem class="dropdown-item" routerLink="/follow">Follow</a>
            <a ngbDropdownItem class="dropdown-item"  (click)="logout()" >Sign Out</a>
         </div>
      </div>
    </div>
 </header>
 <!-- End Header -->
 