<div class="top-banner">
  <div class="container">
     <h2>Follow User</h2>
  </div>
</div>
<!-- End Hero -->
<main id="main">
  <!-- tabs section -->
  <section>
     <div class="container">
        <p class="in-total">In Total: {{ userDirectory?.length || '0' }}</p>
        <form class="search-container" (ngSubmit)="searchUsers()">
           <input type="text" value="" id="search-bar" placeholder="Search...">
           <a (click)="searchUsers()"><img class="search-icon" src="assets/img/search.png"></a>
        </form>
     </div>
  </section>
  <section id="directory-data" class="directory-data">
     <div class="container text-center">
      
        <div class="cnt" >
           <div id="div2" class="targetDiv"  >
              <div class="row" >
                 <div class="col-md-3 gap-follow" *ngFor="let data of userDirectory | paginate: { itemsPerPage: 20, currentPage: p, totalItems: total }">
                    <div class="Followrap">
                       <img src="{{IMAGE_BASE_URL}}Containers/grumpeat/download/{{data.avatar}}" class="testimonial-img profile-image" alt="" onError="this.src='../../../assets/img/No-image-found-300x300.jpg'">
                       <h4>{{!data.firstName ? data.firstname : data.firstName}} {{!data.lastName ? data.lastname : data.lastName}}</h4>
                       <!-- <h6>{{data.email}} </h6> -->
                        <!-- <span>53238 Followers</span> -->
                        <a class="following btn" (click)="unfollow(data.id)" *ngIf="data.followed>0"><i class="icofont-tick-mark"></i> Following</a>
                        <a class="Follow btn" *ngIf="data.followed==0" (click)="follow(data.id)"> Follow</a>
                    </div>
                 </div>
              </div>
              <pagination-controls class="my-pagination " (pageChange)="p = $event" *ngIf="userDirectory.length>0"></pagination-controls>
           </div>
        </div>
     </div>
  </section>
</main>
<!-- End #main -->