<div class="top-banner">
  <div class="container">
     <h2>{{responseData.name}}</h2>
  </div>
</div>
<!-- End Hero -->
<main id="main">
  <!-- tabs section -->
  <section id="detailed-neighbourhood" class="detailed-neighbourhood">
     <div class="container">
        <ul>

           <li *ngFor="let address of address_comp;"><a href="#"> {{address}}</a></li>
           <!-- <li> <a href="#">{{responseData.formatted_address.split(",")[1]}}</a></li> -->
           <!-- <li><a href="#"> Birmingham </a></li>
           <li>208 Duecento Otto</li> -->
        </ul>
        <div class="social">
           <a class="fb" href="facebook.com"><i class="icofont-facebook"></i></a>
           <a class="in" href="linkedin.com"><i class="icofont-linkedin"></i></a>
        </div>
        <img src="{{IMAGE_BASE_URL+'/Containers/grumpeat/download/'+responseData.photo}}" alt="neighbourhood" onError="this.src='../../../assets/img/no-photo.png'">
        <h3>{{responseData.name}}</h3>
        <p>
           <i class="icofont-location-pin"></i> 
           Address: {{responseData.formatted_address}} 
           <span class="review">
             <span>{{responseData.rating || '0' }} </span>
               <div class="stars-outer">
                  <div class="stars-inner" [ngStyle]="{'width': responseData.starPercentageRounded}"></div>
                 </div>
              <span>({{responseData.reviewcount}})</span>
           </span>
           <!-- </div> -->
        </p>
        <iframe src="https://www.google.com/maps?q=14 Rue de Irak, Tunis 1002, Tunisia&output=embed" width="1112" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <!-- <p>First off, I’m not a chicken lover. That’s not to say I don’t like chicken, nor to deny that I probably account for a good bird or three in any given month. What I mean is that, like most foodies I know, when presented with a menu as well thought out and enticingly described as that at 208 Duecento Otto, you can pretty much bet your shirt that the last thing I’m going to order is the chicken.</p>
        <p>However, a bit of casual research among friends who’d been regulars at this dapper joint since day one yielded a unanimous verdict of “Dude, you have to try the roast chicken.” And so it was that we found the citrus-oregano-marinated chicken ($218) presented before us, looking humbly alluring but bearing a greater weight of expectation than could be reasonably expected of an expired fowl, our forks poised and pointed almost accusingly in its direction.</p>
        <p>But I’m getting ahead of myself.</p>
        <p>The new venture from Yenn Wong, founder of stylish Causeway Bay boutique hotel JIA and the attached Drawing Room restaurant, 208 is a full-blooded attempt to bring New York-style Italian panache to Hong Kong. Downstairs is a relaxed bar/casual diner area with a real buzz about it, ideal for knocking back a few glasses of wine (there’s 20 by the glass) over a chewy-crusted, topping-laden pizza or two. Upstairs is the restaurant proper, which manages to retain the convivial spirit, but with a more intimate feel.</p>
        <p>With a kitchen helmed by Vinny Lauria, from NYC’s much-lauded Babbo, and featuring a two-storey interior that’s all decorative tiles and hard woods kitted out by celebrated Turkish design house Autobahn, it certainly has the necessary credentials. The menu, too, has the air of the real deal about it, from the discerning selection of imported salumi (cured meats) and varied antipasti – including testa and pork tongue – to pizzas wood-fired in a Napoletana oven imported and hand-assembled for the purpose. A cracking cocktail menu that would hold its own in the Big Apple is a further plus point.</p> -->
        <address>
           <h5><b>Details</b></h5>
           <b><i class="icofont-address-book"></i> Address</b>
           <p>{{responseData.formatted_address}}</p>
           <b *ngIf="show==true"><i class="icofont-clock-time"></i> Opening hours</b>
           <div *ngIf="show==true">
            <p  *ngFor="let open of opening_hour;" > {{open}} </p>
           </div>
           <b><i class="icofont-web"></i> Contact</b>
           <p><a href="{{responseData.website}}" target="_blank"> {{responseData.website}}</a></p>
           <a class="call-venue" href="tel:{{responseData.international_phone_number}}"><i class="icofont-ui-call"></i> Call Venue</a> <a class="disrection" href="{{responseData.url}}" target="_blank"><i class="icofont-map-pins"></i> Diections</a>
        </address>
     </div>
  </section>
</main>
<!-- End #main -->