<div class="top-banner">
  <div class="container">
    <h2>Privacy policy</h2>
    
  </div>
</div>
<main id="main">
<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
     <div class="section-title">
        <h2>Privacy policy</h2>
        <!-- <p>Et harum quidem rerum</p> -->
     </div>
     <div class="row">
        <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content">
           <!-- <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
           <p class="font-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
           </p>
           <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
           </p>
           <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>

            <p> Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p> -->
            <iframe src="https://docs.google.com/gview?url=http://3.0.175.106/api/Containers/grumpeat/download/1538555386283_grumpeat_Privacy%20Policy.pdf&embedded=true&zoom=1000" style="width:100%; height:800px;" frameborder="0"></iframe>
        </div>
     </div>
  </div>
</section>
<!-- End About Section -->


</main>
<!-- End #main -->