<app-header></app-header>
<div class="top-banner">
  <div class="container">
     <h2>Error 404</h2>
  </div>
</div>
<main id="main">
  <!-- ======= About Section ======= -->
  <section id="404-error" class="error-page">
     <div class="section-title">
        <img src="assets/img/404-img.png" alt="" class="img-fluid">
     </div>
  </section>
  <!-- End About Section -->
</main>
<!-- End #main -->
<app-footer></app-footer>