<div class="top-banner">
  <div class="container">
     <h2>Neighbourhood Restaurants</h2>
  </div>
</div>
<!-- End Hero -->
<main id="main">
  <!-- tabs section -->
  <div data-aos="fade-up">
     <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.8015515578877!2d114.1454833149466!3d22.285505949063367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3403f85ab4f61091%3A0xd7b22b40b1f9d014!2s208%20Duecento%20Otto!5e0!3m2!1sen!2sin!4v1592031240642!5m2!1sen!2sin" frameborder="0" allowfullscreen></iframe>
  </div>
  <section class="search-restaurants">
     <div class="container" data-aos="fade-up">
     <div class="row">
        <div class="col-lg-12 mt-5 mt-lg-0">
           <h2 class="text-center">Search for restaurants</h2>
           <form>
              <div class="row align-items-center mt-4">
                 <div class="col-md-6">
                    <select class="form-control">
                       <option value="A">United State (US)</option>
                       <option value="B">Auburn</option>
                       <option value="C">Bloomington-Normal</option>
                       <option value="D">Chicago</option>
                    </select>
                 </div>
                 <div class="col-md-6">
                    <select class="form-control">
                       <option value="A">Birmingham</option>
                       <option value="B">Auburn</option>
                       <option value="C">Bloomington-Normal</option>
                       <option value="D">Chicago</option>
                    </select>
                 </div>
              </div>
              <div class="row align-items-center mt-4">
                 <div class="col-md-6">
                    <select class="form-control">
                       <option value="A">Neighbourhood</option>
                       <option value="B">Auburn</option>
                       <option value="C">Bloomington-Normal</option>
                       <option value="D">Chicago</option>
                    </select>
                 </div>
                 <div class="col-md-6">
                    <button class="btn btn-lg btn-style " type="submit">Search</button>
                 </div>
              </div>
           </form>
        </div>
     </div>
     </div>
  </section>
  <section id="neighbourhood-res" class="neighbourhood-res">
     <div class="container">
        <div class="col-lg-12 col-md-12 d-flex align-items-stretch" *ngFor="let restaur of restaurants | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }">
           <div class="restaurant-info">
              <div class="image-wrapper"><span class="fav-icon"><i class="icofont-heart-alt"></i></span><img src="{{restaur.picToShow}}" class="img-fluid" alt=""></div>
              <div class="restaurant-content">
                 <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4>{{restaur.name}}</h4>
                    <p class="price">2 Miles Away</p>
                 </div>
                 <div class="icon"><span>{{ restaur.rating || '0' }} </span>
                  <div class="stars-outer">
                  <div class="stars-inner" [ngStyle]="{'width': restaur.starPercentageRounded}"></div>
                   </div>
                  <span>({{restaur.reviewcount}})</span>
               </div>
                 <p>{{restaur.formatted_address}}</p>
                 <div class="trainer d-flex justify-content-between align-items-center">
                    <div class="trainer-profile d-flex align-items-center">
                       <!-- <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt=""> -->
                       <div class="social">
                          <a class="fb" href="facebook.com"><i class="icofont-facebook"></i></a>
                          <a class="in" href="linkedin.com"><i class="icofont-linkedin"></i></a>
                       </div>
                    </div>
                    <div class="trainer-rank d-flex align-items-center">
                       <a class="to-go" [routerLink]="['/favorite-restaurants/',restaur.place_id]"><i class="icofont-long-arrow-right"></i></a>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <pagination-controls class="my-pagination" (pageChange)="p = $event" *ngIf="restaurants.length>0"></pagination-controls>
        
     </div>
  </section>
  <!-- tabs section end -->
</main>
<!-- End #main -->